{% include 'head.html' %}

<p>Current total CPU usage {{ node_totals.cpus_ratio }}% &nbsp;  {{ node_totals.cpus_assigned }} / {{ node_totals.cpus_available }} cores. &nbsp;
Current memory usage {{ node_totals.mem_ratio }}% &nbsp;  {{ node_totals.mem_assigned }} / {{ node_totals.mem_available }} GB. &nbsp; 
Current jobs {{ node_totals.jobs_total }}.<br>
In the table below the CPU Usage is assigned/available; Memory Usage is assigned/available in GB. <br>
This information and additional detailed information on each node can be found by running 
&quot;<span style="font-size:110%; font-family:monospace;">pbsnodes -a</span>&quot;. 
</p>

<table class="status sortable" id="4ty7gd4">
<tr>
<th>Node</th>
<th>Status / Comment</th>
<th>CPU Usage</th>
<th>GPU Usage</th>
<th>Memory Usage (GB)</th>
<th>Jobs</th>
</tr>
{% for n in nodes %}
<tr>
<td>{{ n.node_name }}</td>
<td>
{% if n.state_up %}
<span style="color:green">OK</span> ({{ n.state }}) 
{% else %}
<span style="color:red">XX</span> ({{ n.state }}) 
{% endif %}
/ <i>{{ n.comment }}</i></td>
<td>
{%if n.resources_available_ncpus %}
<div class=fixed><svg class=myscale width={{ n.resources_available_ncpus|int *2 }}><rect class=used width={{n.resources_assigned_ncpus|int*2}} height=30 /><text x=20 y=20 text-anchor=middle>{{n.cpu_ratio}}%</text></svg></div> 
{% else %}
<div class=fixed>&nbsp;</div>
{% endif %}
<svg height=30 width=85><text x=20 y=20>{{ n.resources_assigned_ncpus }} / {{ n.resources_available_ncpus }}</text></svg>
</td>
<td>
{% if n.resources_available_ngpus %}
{{ n.resources_assigned_ngpus }} / {{ n.resources_available_ngpus }}
{% else %}
&nbsp;
{% endif %}
</td>
<td><div class=fixed_mem><svg class=myscale width={{ n.resources_available_mem|int/2 }}><rect class=used width={{n.resources_assigned_mem|int/2}} height=30 /><text x=20 y=20 text-anchor=middle>{{n.mem_ratio}}%</text></svg></div> 
<svg height=30 width=110><text x=20 y=20>{{ n.resources_assigned_mem }} / {{ n.resources_available_mem }}</text></svg>
</td>
<td>{{ n.jobs|length }}</td>
</tr>
{% endfor %}
</table>

{% include 'tail.j2' %}
