# Example requirements file for the PBSWeb virtual environment.
# This is not used to install the environment. It is only here
# to show what versions of python packages are known to work. 

bottle==0.12.25
Jinja2==3.1.6
MarkupSafe==2.1.3
packaging==23.2
pip-review==1.3.0
pyparsing==3.1.1

